
body {
    background-color: gainsboro;
}

.product-head-list {
    font-size: large;
    font-style: oblique;
    font-weight: bold;
}

input.to-sum, input.to-total, input.total-cost {
    width: 6em;
    text-align: right;
}