{% extends 'renovations/layout.html' %}
{% load crispy_forms_tags %}
{% block renovations %}
    {% if messages %}
        {% for message in messages %}
            <div{% if message.tags == 'error' %}
                class="alert alert-danger border-warning mt-3" role="alert"
            {% else %}
                class="alert alert-success border-success mt-3" role="alert"
            {% endif %}>{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="row justify-content-md-center new-room-div">
    </div>
    <div class="row justify-content-md-center main-window">
        <div class="col-sm-5">
            <div class="card mt-3 bg-light border-danger">
                <div class="card-body">
                    <div class="table-responsive">
                        <form action="{% url 'renovations:update-renovation' pk=renovation.id %}" method="POST">
                            {% csrf_token %}
                            <table class="table mt-3 table-sm">
                                <thead>
                                    <span>
                                        <h1 style="text-align: center">Renovation Detail:</h1>
                                    </span>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            {{ form |crispy }}
                                        </td>
                                        <td>
                                            Renovation Summarized Cost: <strong>{{ total_cost }}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center">
                                            <button type="submit" class="btn btn-info mt-3">Save Renovation</button>
                                        </td>
                                        <td style="text-align: center">
                                            <a class="new-room btn btn-outline-info btn-sm mt-3" href="#">Add Room</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="row justify-content-md-center">
                {% for room in renovation.room_set.all %}
                    <div class="card mt-3 mr-3 bg-light border-success" style="width: 19rem;">
                        <div class="card-header">
                        <table>
                            <tr>
                                <td>{{ room }}</td>
                                <td colspan="3" style="text-align: center">
                                    {% for item in ROOM_TYPE %}
                                        {% if item.0 == room.type %}
                                            Type: {{ item.1 }}
                                        {% else %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        </table>
                        </div>
                        <div class="card-body">
                            <table>
                                <thead>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th colspan="3" style="text-align: center">Description</th>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="text-align: center">{{ room.description }}</td>
                                    </tr>
                                    <tr>
                                        <th>Basic Cost</th>
                                        <th>Labor Cost</th>
                                        <th>Total Cost</th>
                                    </tr>
                                    <tr>
                                        <td>{{ room.cost.basic_sum }}</td>
                                        <td>{{ room.cost.labor }}</td>
                                        <td>{{ room.cost.total_sum }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer text-muted">
                            <a class="edit-room btn btn-outline-warning btn-sm"
                               href="{% url 'renovations:update-room' pk=room.id %}">Modify</a>
                            <a href="{% url 'renovations:delete-room' pk=room.id %}"
                               class="btn btn-outline-danger btn-sm">Remove</a></td>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            var new_room_card = $(`
                <div class="col-sm-4 new-room-box">
                    <div class="card mt-3 border-info bg-light">
                        <div class="card-body">
                            <h3 style="text-align: center" class="text-info">Add Room</h3>
                            <form action="{% url 'renovations:new-room' %}" method="POST">
                                {% csrf_token %}
                                <table style="border-spacing: 10px">
                                    <tr>
                                        <td style="vertical-align:top">
                                            <label for="room-name">Name:</label>
                                            <p id="room-name">{{ new_room_form.name }}</p>
                                            <label for="room-description">Description:</label>
                                            <p id="room-name">{{ new_room_form.description }}</p>
                                            <label for="room-type">Type:</label>
                                            <p id="room-name">{{ new_room_form.type }}</p>
                                            <label for="room-renovation">Renovation:</label>
                                            <p id="room-name">{{ new_room_form.renovation }}</p>
                                        </td>
                                        <td style="vertical-align:top">
                                            <label for="room-width">Width:</label>
                                            <p id="room-name">{{ new_room_form.width }}</p>
                                            <label for="room-length">Length:</label>
                                            <p id="room-name">{{ new_room_form.length }}</p>
                                            <label for="room-height">Height:</label>
                                            <p id="room-name">{{ new_room_form.height }}</p>
                                            <label for="room-tiles-height">Tiles Height:</label>
                                            <p id="room-name">{{ new_room_form.tiles_height }}</p>
                                        </td>
                                    </tr>
                                </table>
                                <button type="submit" class="btn btn-info mt-3">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            `);

            $(".new-room").click(function () {
                var main_window = $(".new-room-div");
                if (main_window.hasClass('new-box-added')) {
                    $(".new-room-box").remove();
                    main_window.removeClass('new-box-added');
                } else {
                    main_window.append(new_room_card);
                    main_window.addClass('new-box-added');
                }
            })

        });
    </script>
{% endblock renovations %}