{% extends 'renovations/layout.html' %}
{% load crispy_forms_tags %}
{% block renovations %}
    {% if messages %}
        {% for message in messages %}
            <div{% if message.tags == 'error' %}
                class="alert alert-danger border-warning mt-3" role="alert"
            {% else %}
                class="alert alert-success border-success mt-3" role="alert"
            {% endif %}>{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="row justify-content-md-center main-window">
        <div class="col-sm-5">
            <div class="card mt-3 bg-light border-danger">
                <div class="card-body">
                    <div class="table-responsive">
                        <form action="{% url 'renovations:update-renovation' pk=renovation.id %}" method="POST">
                            {% csrf_token %}
                            <table class="table mt-3 table-sm">
                                <thead>
                                    <span>
                                        <h1 style="text-align: center">Renovation Detail:</h1>
                                    </span>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            {{ form |crispy }}
                                        </td>
                                        <td>
                                            Renovation Summarized Cost: <strong>{{ total_cost }}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <button type="submit" class="btn btn-info mt-3">Save Renovation</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="row justify-content-md-center main-window">
                {% for room in renovation.room_set.all %}
                    <div class="card mt-3 mr-3 bg-light border-success" style="width: 19rem;">
                        <div class="card-header">
                        <table>
                            <tr>
                                <td>{{ room }}</td>
                                <td colspan="3" style="text-align: center">
                                    {% for item in ROOM_TYPE %}
                                        {% if item.0 == room.type %}
                                            Type: {{ item.1 }}
                                        {% else %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        </table>
                        </div>
                        <div class="card-body">
                            <table>
                                <thead>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th colspan="3" style="text-align: center">Description</th>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="text-align: center">{{ room.description }}</td>
                                    </tr>
                                    <tr>
                                        <th>Basic Cost</th>
                                        <th>Labor Cost</th>
                                        <th>Total Cost</th>
                                    </tr>
                                    <tr>
                                        <td>{{ room.cost.basic_sum }}</td>
                                        <td>{{ room.cost.labor }}</td>
                                        <td>{{ room.cost.total_sum }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer text-muted">
                            <a class="edit-room btn btn-outline-warning btn-sm"
                               href="{% url 'renovations:update-room' pk=room.id %}">Modify</a>
                            <a href="{% url 'renovations:delete-room' pk=room.id %}"
                               class="btn btn-outline-danger btn-sm">Remove</a></td>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock renovations %}