{% extends 'renovations/layout.html' %}
{% load crispy_forms_tags %}
{% block renovations %}
    {% if messages %}
        {% for message in messages %}
            <div{% if message.tags == 'error' %}
                class="alert alert-danger" role="alert"
            {% else %}
                class="alert alert-success" role="alert"
            {% endif %}>{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <div class="card border-info">
                <div class="card-header"><h3>New Product</h3></div>
                <div class="card-body">
                    <form method="post">{% csrf_token %}
                        {{ form|crispy }}
                        <br>
                        <input type="submit" value="Save">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock renovations %}