{% extends 'renovations/layout.html' %}
{% load crispy_forms_tags %}
{% block renovations %}
    {% if messages %}
        {% for message in messages %}
            <div{% if message.tags == 'error' %}
                class="alert alert-danger border-warning mt-3" role="alert"
            {% else %}
                class="alert alert-success border-success mt-3" role="alert"
            {% endif %}>{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="row justify-content-md-center main-window">
        <div class="col-sm-12">
            <div class="card mt-3 bg-light border-danger">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table mt-3">
                            <thead>
                            <span style="display: inline">
                                <a class="new-product btn btn-outline-info btn-sm" href="#">Add Product</a>
                                <h1 style="text-align: center">Product List:</h1>
                            </span>
                            <tr class="product-head-list">
                                <td>Name</td>
                                <td>Description</td>
                                <td>Price</td>
                                <td>Type</td>
                                <td>Actions</td>
                            </tr>
                            </thead>
                            {% for product in object_list %}
                                <tr class="product-row">
                                    <td id="product-name-{{ product.id }}">{{ product.name }}</td>
                                    <td id="product-description-{{ product.id }}">{{ product.description }}</td>
                                    <td id="product-price-{{ product.id }}">{{ product.price }}</td>
                                    <td id="product-type-{{ product.id }}" type="{{ product.type }}">
                                        {% for item in PRODUCT_TYPE %}
                                            {% if item.0 == product.type %}
                                                {{ item.1 }}
                                            {% else %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <a class="edit-product btn btn-outline-warning btn-sm"
                                           data-id={{ product.id }} href="#"
                                        >Modify</a>
                                        <a href="{% url 'renovations:delete-product' pk=product.id %}"
                                           class="btn btn-outline-danger btn-sm">Remove</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            new_product_card = $(`
                <div class="col-sm-4 new-product-box">
                    <div class="card mt-3 border-info bg-light">
                        <div class="card-body">
                            <h3 class="text-info">Add Product</h3>
                            <form action="{% url 'renovations:new-product' %}" method="POST">
                                {% csrf_token %}
                                {{ new_product_form | crispy }}
                                <button type="submit" class="btn btn-info mt-3">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            `);

            edit_product_card = $(`
                <div class="col-sm-4 edit-product-box">
                    <div class="card mt-3 border-warning bg-light">
                        <div class="card-body">
                            <h3 class="text-warning">Modify Product</h3>
                            <form class="update-form" action="" method="POST">
                                {% csrf_token %}
                                {{ new_product_form | crispy }}
                                <button type="submit" class="btn btn-warning mt-3">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            `);

            {#function add_box(type, card) {#}
            {#    console.log("dupa")#}
            {#    var main_window = $(".main-window")#}
            {#    if (main_window.hasClass(type)) {#}
            {#        $(`.${type}-box`).remove()#}
            {#        main_window.removeClass(type)#}
            {#    } else {#}
            {#        main_window.append(card)#}
            {#        main_window.addClass(type)#}
            {#    }#}


            $(".new-product").click(function () {
                var main_window = $(".main-window");
                if (main_window.hasClass('new-box-added')) {
                    $(".new-product-box").remove().show('slow');
                    main_window.removeClass('new-box-added');
                } else {
                    main_window.prepend(new_product_card).hide().show('slow');
                    main_window.addClass('new-box-added');
                }
            })

            function add_form_action(id) {
                $(".update-form").attr("action", `/renovations/products/update/${id}/`)
            }

            function fill_edit_form(id) {
                var product_name = $(`#product-name-${id}`).text()
                var product_description = $(`#product-description-${id}`).text()
                var product_price = $(`#product-price-${id}`).text()
                var product_type = $(`#product-type-${id}`).attr("type")
                $("form.update-form > #div_id_name > .controls > #id_name").val(product_name)
                $("form.update-form > #div_id_description > .controls > #id_description").val(product_description)
                $("form.update-form > #div_id_price > .controls > #id_price").val(product_price)
                $("form.update-form > #div_id_type > .controls > #id_type").val(product_type)
            }

            $(".edit-product").click(function () {
                var main_window = $(".main-window");
                var product_id = $(this).data("id");
                if (main_window.hasClass('edit-box-added')) {
                    $(".edit-product-box").remove().show('slow');
                    main_window.removeClass('edit-box-added');
                } else {
                    main_window.prepend(edit_product_card).hide().show('slow');
                    main_window.addClass('edit-box-added');
                    add_form_action(product_id);
                    fill_edit_form(product_id);
                }
            })
        })
    </script>

{% endblock renovations %}